@import "partials/settings";
@import "../bower_components/foundation/scss/foundation";



header {
  // background-color: pink;
  // border: 10px solid red;
  text-align: center;

  #header_block {
    // border: 10px solid blue;
    background-image: url('/images/header_bg.png');
    background-color: $main_blue;
    padding-bottom: 20px;
    padding-top: 130px;

    #logo {
      // background-color: orange;
      padding-bottom: 5px;

      a {
        // background-color: yellow;
        background-image: url('/images/logo.png');
        background-repeat: no-repeat;
        // height: 30px;
        // width: 30px;
        background-position: center;
        padding-top: 120px;
        // margin-bottom: 50px;
        // padding-bottom: 100px;
        color: white;
        font-size: 18px;

        // #logo_starfox {
        // }

        // #logo_intergalactic {
        // }
      }
    }
  }
}

#content_block {
  border: 5px solid red;
  
  margin: 40px;

  #content_left {
    background-color: $main_blue;
    border-radius: 5px 0px 0px 5px;
  }

  #content_right {
    background-color: pink;
    order-radius: 0px 5px 5px 0px;
    background-image: url('/images/ship.png');
    background-repeat: no-repeat;
  }

}

#quicklinks_block {

  #left_block {
    border: 1px solid green;
    margin: 10px;
    border-radius: 5px;
  }

  #middle_block {
    border: 1px solid green;
    margin: 10px;
    border-radius: 5px;
  }

  #right_block {
    border: 1px solid green;
    margin: 10px;
    border-radius: 5px;
  }

}


#footer_block {
  background-color: $faded_black;
  color: white;
  text-align: center;
}