@import "partials/settings";
@import "../bower_components/foundation/scss/foundation";

$gunmetal_gray: orange;
// $gunmetal_gray: #232329;

body {
  background-color: $gunmetal_gray;
  color: green;
}