@import "partials/settings";
@import "../bower_components/foundation/scss/foundation";


// --- HEADER ---

.hr {
  background-color: $faded_gray;
  border: 1px solid #000000;
  height: 1px;
  margin: 10px 0;
  // width: 760px;
}

header {
  // background-color: pink;
  // border: 10px solid red;
  text-align: center;
  // pushes bar slightly up into header
  margin-bottom: -20px;
  #header_block {
    // border: 10px solid blue;
    background-image: url('/images/header_bg.png');
    background-color: $main_blue;
    padding-bottom: 20px;
    padding-top: 110px;

    #logo {
      // background-color: orange;
      padding-bottom: 5px;

      a {
        // background-color: yellow;
        background-image: url('/images/logo.png');
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 120px;
        color: $black;
        font-size: 18px;

        #logo_starfox {
          opacity: 0.8;
        }

        #logo_intergalactic {
          opacity: 0.8;
        }
      }  // END a
    }  // END #logo
  }  // END #header_block
}  // END header


// --- NAVIGATION ---

#nav_bar {
  // border: 5px solid red;
  .row {
    background-color: $medium_black;
    border-radius: 5px;
    color: $main_blue;
    padding: 10px;
    text-align: center;
    // need to bring menu elements closer together
    .large-3 {
      // border: 1px solid white;
      padding: 0px 0px 0px 0px;
      // margin: 0px;
      // .nav-span {
      //   border: 1px solid yellow;
      //   margin-left: 20px;
      //   margin-right: 20px;
      // }
      a {
        // border: 1px solid green;
        color: $main_blue;
        :hover {
          color: $white;
        }
        span {

        }
      }
    }  // END .large-3
  }  // END .row
}  // END #nav_bar


// --- CONTENT ---

section {

  // Blurb
  
  #content_block {
    // border: 5px solid red;
    width: 1200px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: $main_blue;
    border-radius: 5px;
    // opacity: 0.9;
    .row {

      .large-8 {
        #content_left {
          // border: 5px solid red;
          padding-left: 15px;
          font-family: 'Open Sans';
          font-weight: 300;
          margin-right: 50px;
          p {
            margin-right: 50px;
            font-size: 26px;
            padding: 60px;
            opacity: 0.8;
            span {
              font-weight: 700;
            }  // END span
          }  // END p
        }  // END #content_left
      }  // END .large-8
  
      .large-4 {
        #content_right {
          // border: 5px solid red;
          // background-color: pink;
          border-radius: 5px;
          
          .row {
            .large-12 {
              #space_ship {
                // border: 1px solid green;
                background-image: url('/images/ship.png');
                background-repeat: no-repeat;
                padding-right: 300px;
                padding-bottom: 200px;
                padding-top: 25px;
                span {
                  display: none;
                }  // END span
              }  // END #space_ship
            } // END .large-12
          }  // END .row

          .row {
            .large-12 {
              #find_out_more {
                // border: 5px solid orange;
                text-align:center;
                padding-top: 26px;
        
                #button {
                  background-color: $faded_gray;
                  padding-top: 20px;
                  padding-bottom: 20px;
                  padding-right: 5px;
                  padding-left: 5px;
                  margin-top: 240px;
                  margin-bottom: 38px;
                  width: 300px;
                  color: $faded_white;
                }  // END #button
              }  // END #find_out_more
            }  // END large-12
          }  // END .row

        }  // END #content_right
      }  // END .large-8

    }  // END .row
  }  // END #content_block


  // Quicklinks
  
  #quicklinks_block {
    // border: 5px solid red;
    width: 1200px;
    margin: auto;
    // background-color: yellow;
    .row {

      .large-4 {
        padding: 0px;
        #left_block {
          // border: 3px solid blue;
          background-color: $faded_gray;
          border-radius: 5px;
          padding: 25px;
          margin-right: 40px;
          .row {
            .large-12 {
            padding: 10px;
              h4 {
                color: $white;
                text-align: center;
                // border-bottom: 1px solid black;
                // margin: 30px;
              }
            }
          }
          .row {
            .large-12 {
            padding: 10px;
              h1 {
                // padding: 0px;
                color: $white;
                text-align: center;
                border-bottom: 5px solid $white;
                margin: 30px;
              }
            }
          }
          .row {
            .large-12 {
            padding: 10px;
              p {
                color: $white;
                text-align: center;
                margin: 10px;
              }
            }  // END .large-12
          }  // END .row

        }  // END #left_block
      }  // END .large-4

      .large-4 {
        #middle_block {
          // border: 1px solid blue;
          background-color: $faded_gray;
          color: $white;
          padding: 25px;
          margin-right: 20px;
          border-radius: 5px;
          .row {
            .large-12 {
            // border: 1px solid blue;
            padding: 10px;
              h4 {
                color: $white;
                text-align: center;
                // border-bottom: 1px solid black;                
              }
            }
          }
          .row {
            .large-12 {
            // border: 1px solid blue;
            padding: 10px;
              h1 {
                color: $white;
                text-align: center;
                border-bottom: 5px solid $white;
                margin: 30px;                
              }
            }
          }
          .row {
            .large-12 {
            // border: 1px solid blue;
            padding: 10px;
              p {
                color: $white;
                text-align: center;
                margin: 10px;                
              }
            }  // .large-12
          }  // .row
        }  // END #middle_block
      }  // END .large-4

      .large-4 {
        #right_block {
          // border: 1px solid brown;
          background-color: $faded_gray;
          text-align: center;
          border-radius: 5px;
          margin-left: 20px;
          .row {
            .large-12 {
              padding-top: 25px;
              margin-top: 8px;
              p {
                color: $white;
                span {
                  font-size: 2em;
                  font-weight: 300;
                }
              }
            }
          }
          .row {
            .large-12 {
              margin-top: 8px;
              padding-top: 25px;
              p {
                color: $white;
                span {
                  font-size: 2em;
                  font-weight: 300;
                }
              }
            }
          }

          #more_deals_a {
            // border: 1px solid yellow;
            // border-top: 1px solid $white;
            :hover {
              background-color: $black;
            }
            .row {
              .large-12 {
                #more_deals {
                  // border: 1px solid brown;
                  display: inline-block;
                  margin-bottom: 2px;
                  text-align: center;
                    p {
                      // border: 1px solid yellow;
                      color: $white;
                      font-size: 1.5em;
                      padding-right: 5px;
                    }  // END p
                  }  // END #more_deals
                #arrow {
                  // border: 1px solid brown;
                  display: inline-block;
                  // background-image: url('/images/arrow.png');
                  // background-repeat: no-repeat;
                }  // END #arrow
              }  // END .large-12

            }  // END .row
          }  // END #more_deals_a


        }  // END #right_block
      }  // END .large-4

    }  // END .row
  }  // END #quicklinks_block

}  // END section

// --- FOOTER ---

footer {
  margin-top: 40px;
  text-align: center;
  // width: 100%;
  // position: fixed;
  // bottom: 0px;

  #footer_block {
    background-color: $medium_black;
    // vertical-align: middle;
    color: $faded_white;
    padding-top: 20px;
    padding-bottom: 2px;
  }
}