extends ./layout.jade

block section
  div#content_block
    div.row
      div.large-8.columns
        div#content_left
          p We will take you to the 
            span Moon and Back! 
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error temporibus adipisci quibusdam nam, quod vitae voluptatum, voluptas sequi laboriosam dolores cum voluptates a aperiam? Possimus nostrum voluptatem sint fugit tenetur!

      div.large-4.columns
        div#content_right
          div.row

            div.large-12.columns
              a(href="#")#space_ship
                  span Space Ship

            div.large-12.columns
              div#find_out_more
                div#button
                  | Find Out More
  
  div#quicklinks_block
    div.row
      div.large-4.columns
        div#left_block
          div.row
            div.large-12.columns
              h4 To the Moon
          div.row
            div.large-12.columns
              h1 $30,000
          div.row
            div.large-12.columns
              p Covers travel fare, lodgings, and meals for 3 months in space.

      div.large-4.columns
        div#middle_block
          div.row
            div.large-12.comumns
              h4 Just Around Earth
            div.row
              div.large-12.columns
                h1 $10,000
            div.row
              div.large-12.columns
                p Covers travel fare, lodgings, and meals for 2 weeks in space.

      div.large-4.columns
        div#right_block
          div.row
            div.large-12.columns
              p Just to Jupiter
                br
                | $26,000
          div.row
            div.large-12.columns
              p Center of the Earth
                br
                | $156,000
          div.row
            div.large-12.columns
              div#More Deals
                span Arrow
  
