doctype html

html(lang="en")

head
  meta(charset="UTF-8")
  title Starfox Travel Agency
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  script(src="/bower_components/modernizr/modernizr.js")
  link(rel="stylesheet" href="/css/styles.css")

body

  header
    div#header_block
      h1#logo
        a(href="#")
          span(id="logo_starfox")
            strong Star
          | Fox
          span(id="logo_intergalactic")
            | Intergalactic Travel Agency

  div#nav_bar
    div.row
      div.large-3.columns
        | Home
      div.large-3.columns
        | Accounts
      div.large-3.columns
        | Services
      div.large-3.columns
        | Interstellar Travel

  section.row
    block section
 

  footer
    div#footer_block
      p UFO graphics designed by Kari Gaynor and Dmitry Lagunov from the Noun Project

    span.copyright
      block copyright
        | &copy; Ray 2066

  script(src="/bower_components/jquery/dist/jquery.min.js")
  script(src="/bower_components/foundation/js/foundation.min.js")



  //- block scripts
  //-   script(src="jquery.js")